
  
 
  <form action="" [formGroup]="infoForm" (ngSubmit)="onSubmit()" class="container">
    <div class="name" >
      <mat-form-field style="margin-top: 20px;">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
    </div>
    <div class="gender">
      <label style="margin-left: 20px;">Gender </label>
      <mat-radio-group formControlName="gender">
        <mat-radio-button value="male" >Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button> 
      </mat-radio-group>
    </div>
    <div class="country">
      <mat-form-field >
        <mat-label>Country</mat-label>
        <select matNativeControl required formControlName="country">
          <option value="india">India</option>
          <option value="australia">Australia</option>
          <option value="unitesStates">Unites States</option>
          <option value="unitedKingdom">United Kingdom</option>
        </select>
      </mat-form-field>
    </div>
    <div class="dob">
      <mat-form-field>
        <mat-label>Date Of Birth</mat-label>
        <input matInput [matDatepicker]="picker"[max]="maxDate" formControlName="doB">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="email">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput
               placeholder="pat@example.com"
               formControlName="email"
              (blur)="errorEmail()"
               required>
        @if (this.infoForm.get('email')?.invalid ) {
          <mat-error>{{errorMessage}}</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="contact">
      <mat-form-field>
        <mat-label>Contact No</mat-label>
        <input matInput
               placeholder="eg. 9192****78"
               formControlName="contactNo"
              (blur)="errorContact()"
               required>
        @if (this.infoForm.get('contactNo')?.invalid ) {
          <mat-error>{{errorMessageContact}}</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="checkBox">
      <mat-checkbox formControlName="declaration" (click)="onCheck()"><p>I  consent that above information provided by me is correct.</p></mat-checkbox>
    </div>
    <div class="button">
      <button mat-flat-button formcontrolName="submit" color="accent" (click)="onSubmit()" [disabled]="!declarationCheck" >Submit</button>
    </div>
  </form>



